ЛАБОРАТОРНА РОБОТА 4 Задача класифікації.

Завдання 2. Продовжуємо працювати з датасетом titanic.csv Завантажуємо, проводимо попередній аналіз даних (лр 2).
Будуємо 3 класифікатори на вибір, визначаємо оптимальні параметри (оптимізатор – на вибір). 
Вибираємо найкращу модель. Виводимо характеристики, метрики.
Робимо прогноз для 10 випадків.

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
# Завантаження датасету
df = pd.read_csv('full.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US",Cherbourg,"New York, New York, US",4,NaN,1.0
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,865.0,"Heikkinen, Miss Laina",26.0,"Jyväskylä, Finland",Southampton,New York City,14?,NaN,3.0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,127.0,"Futrelle, Mrs. Lily May (née Peel)",35.0,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",D,NaN,1.0
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,627.0,"Allen, Mr. William Henry",35.0,"Birmingham, West Midlands, England",Southampton,New York City,NaN,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,...,S,1227.0,"Spector, Mr. Woolf",23.0,"London, England",Southampton,New York City,NaN,NaN,3.0
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,...,C,229.0,"and maid, Doña Fermina Oliva y Ocana",39.0,"Madrid, Spain",Cherbourg,"New York, New York, US",8,NaN,1.0
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,...,S,1169.0,"Sæther, Mr. Simon Sivertsen",43.0,"Skaun, Sør-Trøndelag, Norway",Southampton,US,NaN,32MB,3.0
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,...,S,1289.0,"Ware, Mr. Frederick William",34.0,"Greenwich, London, England",Southampton,New York City,NaN,NaN,3.0
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,...,C,702.0,"Butrus-Youssef, Master Makhkhul",4.0,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US",D,NaN,3.0

In [3]:
# Виведення перших 5 
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US",Cherbourg,"New York, New York, US",4,NaN,1.0
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,865.0,"Heikkinen, Miss Laina",26.0,"Jyväskylä, Finland",Southampton,New York City,14?,NaN,3.0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,127.0,"Futrelle, Mrs. Lily May (née Peel)",35.0,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",D,NaN,1.0
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,627.0,"Allen, Mr. William Henry",35.0,"Birmingham, West Midlands, England",Southampton,New York City,NaN,NaN,3.0

In [4]:
# 2. Визначити розмір датасета.
df.shape

(1309, 21)

In [5]:
# 3. Визначити тип даних.
df.dtypes

PassengerId      int64
Survived       float64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
WikiId         float64
Name_wiki       object
Age_wiki       float64
Hometown        object
Boarded         object
Destination     object
Lifeboat        object
Body            object
Class          float64
dtype: object

In [6]:
# 4. Визначити наявність пропущених значень. При наявності, замінити
# пропущені значення на середнє значення.
df.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
WikiId            5
Name_wiki         5
Age_wiki          7
Hometown          5
Boarded           5
Destination       5
Lifeboat        807
Body           1179
Class             5
dtype: int64

In [7]:
# Заміна пропущених значень на середнє значення колонок Age та Fare. А колонку Survived пропущені значення автоматично
# отримають значення 2 як зниклі без вістей

df.loc[:, "Age"] = df["Age"].replace(np.NaN, df.Age.median())
df.loc[:, "Fare"] = df["Fare"].replace(np.NaN, df.Age.median())

In [8]:
# 5. Ще раз перевірити наявність пропущених значень.
df.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin          1014
Embarked          2
WikiId            5
Name_wiki         5
Age_wiki          7
Hometown          5
Boarded           5
Destination       5
Lifeboat        807
Body           1179
Class             5
dtype: int64

In [9]:
# 6. Перевірити наявність дублікатів. При наявності видалити дублікати.
df.duplicated().sum()

0

In [10]:
# 7. Вивести описову статистику датасету describe()
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,WikiId,Age_wiki,Class
count,1309.000000,891.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1304.000000,1302.000000,1304.000000
mean,655.000000,0.383838,2.294882,29.503186,0.498854,0.385027,33.291434,658.534509,29.415829,2.291411
std,378.020061,0.486592,0.837836,12.905241,1.041658,0.865560,51.739086,380.377373,13.758954,0.840852
min,1.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000,1.000000,0.170000,1.000000
25%,328.000000,0.000000,2.000000,22.000000,0.000000,0.000000,7.895800,326.750000,21.000000,1.750000
50%,655.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,661.500000,28.000000,3.000000
75%,982.000000,1.000000,3.000000,35.000000,1.000000,0.000000,31.275000,987.250000,37.750000,3.000000
max,1309.000000,1.000000,3.000000,80.000000,8.000000,9.000000,512.329200,1314.000000,74.000000,3.000000

In [11]:
# 8. Видалити стовпчик Cabin
df.drop(columns = "Cabin", inplace = True)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US",Cherbourg,"New York, New York, US",4,NaN,1.0
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,865.0,"Heikkinen, Miss Laina",26.0,"Jyväskylä, Finland",Southampton,New York City,14?,NaN,3.0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,127.0,"Futrelle, Mrs. Lily May (née Peel)",35.0,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",D,NaN,1.0
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,627.0,"Allen, Mr. William Henry",35.0,"Birmingham, West Midlands, England",Southampton,New York City,NaN,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,28.0,0,0,A.5. 3236,8.0500,S,1227.0,"Spector, Mr. Woolf",23.0,"London, England",Southampton,New York City,NaN,NaN,3.0
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C,229.0,"and maid, Doña Fermina Oliva y Ocana",39.0,"Madrid, Spain",Cherbourg,"New York, New York, US",8,NaN,1.0
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,S,1169.0,"Sæther, Mr. Simon Sivertsen",43.0,"Skaun, Sør-Trøndelag, Norway",Southampton,US,NaN,32MB,3.0
1307,1308,NaN,3,"Ware, Mr. Frederick",male,28.0,0,0,359309,8.0500,S,1289.0,"Ware, Mr. Frederick William",34.0,"Greenwich, London, England",Southampton,New York City,NaN,NaN,3.0
1308,1309,NaN,3,"Peter, Master. Michael J",male,28.0,1,1,2668,22.3583,C,702.0,"Butrus-Youssef, Master Makhkhul",4.0,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US",D,NaN,3.0

In [12]:
# 9. Сформувати датасет з обраними стовпцями:
# ['Survived', 'Pclass', 'Sex', 'Age', 'Fare']]
dfx = df[['Survived', 'Pclass', 'Sex', 'Age', 'Fare']]
dfx

      Survived  Pclass     Sex   Age      Fare
0          0.0       3    male  22.0    7.2500
1          1.0       1  female  38.0   71.2833
2          1.0       3  female  26.0    7.9250
3          1.0       1  female  35.0   53.1000
4          0.0       3    male  35.0    8.0500
...        ...     ...     ...   ...       ...
1304       NaN       3    male  28.0    8.0500
1305       NaN       1  female  39.0  108.9000
1306       NaN       3    male  38.5    7.2500
1307       NaN       3    male  28.0    8.0500
1308       NaN       3    male  28.0   22.3583

[1309 rows x 5 columns]

In [13]:
# 10. Замінити бінарні ознаки (Стать) на 0 і 1 (але перевірте унікальні
# значення даного стовпчика).
unique_values = pd.unique(dfx['Sex'])
dfx.loc[:, 'Sex'] = dfx['Sex'].replace({"male": 0, "female": 1})
dfx

      Survived  Pclass Sex   Age      Fare
0          0.0       3   0  22.0    7.2500
1          1.0       1   1  38.0   71.2833
2          1.0       3   1  26.0    7.9250
3          1.0       1   1  35.0   53.1000
4          0.0       3   0  35.0    8.0500
...        ...     ...  ..   ...       ...
1304       NaN       3   0  28.0    8.0500
1305       NaN       1   1  39.0  108.9000
1306       NaN       3   0  38.5    7.2500
1307       NaN       3   0  28.0    8.0500
1308       NaN       3   0  28.0   22.3583

[1309 rows x 5 columns]

In [14]:
# 11. Ще раз перевірити кількість пропущених даних (впевнитись, що їх немає).
# Перевірка на порожні значення
dfx.isnull().sum()

Survived    418
Pclass        0
Sex           0
Age           0
Fare          0
dtype: int64

In [15]:
# Видалення наявних порожніх значень
dfx = dfx.copy()
dfx.dropna(inplace=True)

In [16]:
# Повторна перевірка на наявність пустих значень
dfx.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [17]:
# Поділ даних та створення тестів заразом з тренувальними
X, y = dfx[["Pclass", "Sex", "Age", "Fare"]], dfx[["Survived"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Масштабування даних
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
# 3 моделі, котрі будуть використані
models = {
    'Logistic Regression': LogisticRegression(max_iter=1000),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier()
}

# Параметри моделей
param_grids = {
    'Logistic Regression': {
        'C': [0.1, 1, 10, 100],
        'penalty': ['l2']
    },
    'Decision Tree': {
        'max_depth': [None, 10, 20, 30],
        'min_samples_leaf': [1, 3, 5]
    },
    'Random Forest': {
        'n_estimators': [50, 100, 200],
        'max_depth': [None, 10, 20, 30]
    }
}

In [32]:
# Функція для підбору гіперпараметрів і навчання моделі
def tune_and_train_model(model, param_grid):
    grid_search = GridSearchCV(model, param_grid, cv=5, scoring='accuracy', n_jobs=-1)
    grid_search.fit(X_train, y_train.ravel())  # .ravel() для перетворення y на одномірний масив
    return grid_search.best_estimator_, grid_search.best_params_

# Навчання і підбір гіперпараметрів для кожної моделі
best_models = {}
best_params = {}

for model_name, model in models.items():
    best_models[model_name], best_params[model_name] = tune_and_train_model(model, param_grids[model_name])
    print(f"\nТренування моделі {model_name} завершено. Найкращі параметри: {best_params[model_name]}")

# Виведення найкращих параметрів для кожної моделі
print("\nНайкращі параметри для кожної моделі:")
for model_name, params in best_params.items():
    print(model_name,":", params)

Тренування моделі Logistic Regression завершено. Найкращі параметри: {'C': 0.1, 'penalty': 'l2'}

Тренування моделі Decision Tree завершено. Найкращі параметри: {'max_depth': 10, 'min_samples_leaf': 1}

Тренування моделі Random Forest завершено. Найкращі параметри: {'max_depth': 10, 'n_estimators': 200}

Найкращі параметри для кожної моделі:
Logistic Regression : {'C': 0.1, 'penalty': 'l2'}
Decision Tree : {'max_depth': 10, 'min_samples_leaf': 1}
Random Forest : {'max_depth': 10, 'n_estimators': 200}

In [26]:
# Обчислення матриці помилок та обчислення точності
models = {
    'Logistic Regression': LogisticRegression(C=1, max_iter=1000),
    'Decision Tree': DecisionTreeClassifier(min_samples_leaf=3),
    'Random Forest': RandomForestClassifier(max_depth=20, n_estimators=50)
}

accuracy_results = {}

for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    # Обчислення матриці помилок
    conf_matrix = confusion_matrix(y_test, y_pred)
    print(model_name, "confusion matrix:\n", conf_matrix)
    
    # Обчислення точності
    accuracy = accuracy_score(y_test, y_pred)
    accuracy_results[model_name] = accuracy
    print(model_name, "Accuracy:\n", accuracy)

Logistic Regression confusion matrix:
[[135  22]
 [ 32  79]]
Logistic Regression Accuracy: 0.7985074626865671
Decision Tree confusion matrix:
[[130  27]
 [ 29  82]]
Decision Tree Accuracy: 0.7910447761194029
Random Forest confusion matrix:
[[136  21]
 [ 34  77]]
Random Forest Accuracy: 0.7947761194029851

In [29]:
# Знаходження найкращої моделі
best_model_name = max(accuracy_results, key=accuracy_results.get)
best_accuracy = accuracy_results[best_model_name]
print("Best model:", best_model_name, "with Accuracy:", best_accuracy)

Best model: Logistic Regression with Accuracy: 0.7985074626865671

In [28]:
# Вибір 10 випадкових зразків з тестової вибірки
np.random.seed(49)  # Для відтворюваності
random_indices = np.random.choice(X_test.shape[0], 10, replace=False)
X_random = X_test[random_indices]
y_random_actual = y_test.iloc[random_indices]

# Прогнозування класів для цих зразків
for model_name, model in models.items():
    print("Model:", model_name)
    y_random_pred = model.predict(X_random)
    # Створення DataFrame для відображення результатів з назвами зразків
    comparison_df = {
    'Sample Index': random_indices,  # Індекси вибраних зразків
    'Real Class': y_random_actual,
    'Predicted Class': y_random_pred
    }
    # Виведення результатів
    print(comparison_df)

Model: Logistic Regression
{'Sample Index': array([102,  65, 219,  89,  24,  53, 181,  21, 105, 186]), 'Real Class':      Survived
291       1.0
772       0.0
425       0.0
250       0.0
538       0.0
802       1.0
382       0.0
447       1.0
442       0.0
361       0.0, 'Predicted Class': array([1., 1., 0., 0., 0., 1., 0., 0., 0., 0.])}
Model: Decision Tree
{'Sample Index': array([102,  65, 219,  89,  24,  53, 181,  21, 105, 186]), 'Real Class':      Survived
291       1.0
772       0.0
425       0.0
250       0.0
538       0.0
802       1.0
382       0.0
447       1.0
442       0.0
361       0.0, 'Predicted Class': array([1., 1., 0., 0., 0., 0., 1., 0., 1., 0.])}
Model: Random Forest
{'Sample Index': array([102,  65, 219,  89,  24,  53, 181,  21, 105, 186]), 'Real Class':      Survived
291       1.0
772       0.0
425       0.0
250       0.0
538       0.0
802       1.0
382       0.0
447       1.0
442       0.0
361       0.0, 'Predicted Class': array([1., 1., 0., 0., 0., 1., 1., 0., 1., 0.])}

Висновок: На даній частині лабораторній роботі було досліджено 3 класифікатора для визначення оптимальних параметрів моделі.
Було взято як вказано в завданні датасет з лабораторної роботи №2. Як стало зрозуміло з обрахунків, що найкращою моделлю для
обрахунку точності є лінійна регресія. Було зроблено прогнозування класів за вибором 10 випадкових зразків з тестової 
вибірки.